* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.n {
    width: 100%;
    height: 1px;
    background-color:rgb(207, 221, 248);
    opacity: 0.9;
    padding: 30px 0;
    position:fixed;
    top:0px;
    text-align: center;
    z-index: 5;
}
.u li .home1-link{
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
 }
 .home1-link4-post {
    position: absolute;
    font-size: 20px;
    padding:15px;
    top:75px ;
    right:150px;
    background-color: blue;
    color: white;
    text-align: center;
   display: inline-block;
   visibility: hidden;
    }

 .home1-link4:hover .home1-link4-post {
    visibility: visible;
 }
 .home1-link5 {
    border: 1px solid black;
    border-radius: 8px;
    padding:8px 10px ;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
 }
 .home1-link5:hover  {
    color: white;
    background-color: black;
}
.u li .home1-link::after {  
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background-color:black;
    margin-top: 1.5px;
    visibility: hidden;
    transition: 0.5s;
}
.u li .home1-link:hover::after {
    width:100%;
    height:3px;
    text-decoration: underline;
    visibility: visible;
    transition: 1s;
}
.n img {
    float: left;
    width: 100px;
    height: 60px;
    margin-top: -30px;
    margin-left: 80px;
}
.u {
    float: right;
    list-style-type: none;
    margin-right:100px;
    margin-top: -10px;
}
.u li {
display: inline-block;
margin-left:15px;
}
.home1 {
    width: 100%;
    height: 100vh;
    background: url(../images/emg36.jpg) repeat ;
    background-size:cover;
    position: relative;
}
.home1-overley {
    width: 100%;
    height: 100%;
    background-color: rgba(214, 220, 236, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.home1-content {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.home1-h {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;
}
.home1-h span , .home2-h span {
    font-family: "Charmonman", cursive;
}
.home1-p {
    margin-bottom: 20px;
    letter-spacing:4px;
    font-size:35px;
    font-family: "Aguafina Script", cursive;
}
.home1-btn {
    width: 160px;
    padding: 16px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15PX;
    font-weight: 700;
}
.home1-btn1 {
margin-right: 10px;
}
.home1-btn2 {
    background-color: blue;
    color:#fff ;
}
.home1-btn:hover {
    opacity: 0.5;
}
.home1-i1 {
    position: absolute;
    z-index: 1;
    top:80px;
    left: 90px;
    color: rgb(30, 79, 241);
   font-size: 20px;
}
.home1-i2 {
    position: absolute;
    z-index: 1;
    top:80px;
    left: 120px; 
    color: rgb(148, 5, 36);
   font-size: 20px;
}
.home1-i3{
    position: absolute;
    z-index: 1;
    top:80px;
    left: 150px; 
    color: rgb(4, 124, 4);
   font-size: 20px;
}
/* ////////////////////////////////////////////////section2////////////////////////////////////////////////////// */
.home2-h {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}
hr {
    background-color: #293241;
    width:120px;
    height: 5px;
    border: none;
    margin: auto;
}
.home2 {
    width: 80%;
    margin: auto;
}
.home2-overley {
    overflow: auto;
}
.home2-content {
    border: 1px solid black;
    float: left;
    margin-top: 80px;
    width: 30%;
    height: 200px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
}
.home2-content2 {
    margin: 80px 5%;
}
.home2-p {
    margin: 10px 0px ;
    font-size: 20px;
    color: rgba(29, 28, 28, 0.9);
    letter-spacing: 1px;
}
.home2-icons {
    color: #4b525e;
    font-size: 40px;
    margin: 20px 0px;
}
.home2-link {
    text-decoration: none;
    color: #6193e9;
}
.home2-content::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgb(207, 221, 248);
}
.home2-content:hover::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.home2-content:hover .home2-title {
    color: white;
}
.home2-content:hover .home2-link{
    color: rgb(5, 134, 255);
}
.home2-content:hover .home2-p {
    color: #2e2f30;
}
.home2-content:hover .home2-icons {
    color:#4084f1 ;
}
/* ///////////////////////////////////////////////////section3//////////////////////////////////////////////////////////////// */
.hom3-h {
    text-transform: uppercase;
    text-align: center;
    margin-bottom:20px;
}
.hom3-header {
    margin-top: 100px;
}
.home3-content {
width: 350px;
height: 350px;
text-align: center;
display: inline-block;
position: relative;
}
.home3-content img {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    z-index: -1;
}
.home3 {
    width: 80%;
    margin: auto;
}
.hom3-overley{
    position: relative;
}
.home3-item {
    line-height: 40px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.home3-title {
   color: white;
   transition-delay:0.1s;
}
.home3-p1 {
    color: #063291;
   font-weight: bold;
   font-size: 25px;
   transition-delay:0.2s;
}
.home3-item-overley {
    position: absolute;
    background-color: rgba(126, 124, 124, 0.9);
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home3-content:hover .home3-item , .home3-content:hover .home3-item-overley {
    visibility: visible;
    transition: 2s;
    opacity: 1;
}
.home3-btn {
    width: 85px;
    height: 35px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition-delay: 0.3s;
}
.home3-btn:hover {
  background-color: rgba(8, 68, 124, 0.9);
}
/* //////////////////////////////////////////////////////////section4////////////////////////////////////////////////////// */
.home4 {
    width: 80%;
    margin: auto;
     text-align: center;
}
.home4-overley {
    overflow: auto;
}
.home4-header {
    margin: 100px 0px 80px;
}
.home4-h {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.home4-hr2 {
    width: 100%;
    height: 2px;
    background-color: rgb(112, 141, 236);
    border: none;
    margin: 8px 0px;
}
.home4-content {
    border: 1px solid black;
    height:180px;
    width: 300px;
    margin:20px;
    position: relative;
    display: inline-block;
     padding: 2px;
    text-align: center;
}
.home4-icons {
    float: left;
    font-size: 35px;
    margin: 20px;
    color: #65738d;
}
.home4-title {
   margin: 20px 0px;
   float:left;
}
.home4-p {
    margin-left: 70px;
    margin-bottom: 15px;
    float:left;
    color: #383d44;
    letter-spacing: 1px;
    font-size: 18px;
}
.home4-content::after {
    position: absolute;
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    visibility: hidden;
    content: "";
    background-color:rgb(207, 221, 248);
}
.home4-content:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: 1s;
}
 .home4-content:hover .home4-p {
    color: white;
 }
.home4-content-f {
    text-align: center;
    width: 100%;
    visibility: hidden;
    z-index:2;
    position: absolute;
    padding: 20px;
    text-transform: uppercase;
}
.home4-content-f p {
    color: #1e2a35;
}
.home4-content-f a {
    text-transform: capitalize;
    color: #6f7070;
}
.home4-content:hover .home4-content-f {
   visibility: visible;
}
.home4-content-f h4  {
    color: rgb(112, 141, 236);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.add1-home {
    width: 100%;
    margin: auto;
}
.add1-overley {
    overflow:auto ;
}
.add1-content {
    text-transform: capitalize;
    width: 13%;
    height: 180px;
    position: relative;
    float: left;
    text-align: center;
    margin-top:100px;
    margin-left: 3.5%;
}
.add1-img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}
.add1-link {
    text-decoration: none;
    display: block;
    color: #273b50;
    margin-top: 120px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.add2-home {
    width: 90%;
    margin: auto;
}
.add2-overley {
    overflow: auto;
}
.add2-item {
    margin-top:50px;
    width: 50%;
    position: relative;
    line-height: 40px;
}
.add2-txt {
    position: absolute;
    margin: 10px 10px;
    z-index: 1;
}
.add2-item1 {
    float: left;
}
.add2-item1 img {
    width: 100%;
}
.add2-item2{
    float: right;
}
.add2-item2 img {
    width: 100%;
}
.add2-txt a {
text-transform: uppercase;
}
.add2-p1 {
    color: rgb(150, 147, 147);
}
.add2-p2 {
    color: #273b50;
    font-weight: 700;
}
.add2-h {
    color: #1e2a35;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home5-header {
    margin-left:5%;
}
.home5 {
    overflow: auto;
    top: 0;
    margin-top: 150px;
}
.home5-list {
float: left;
width: 45%;
margin: 40px 5%;
line-height:30px;
}
.home5-imgs {
    float:right;
    width: 45%;
   position: relative;
   text-align: center;
}
.home5-ul {
    list-style:none;
}
.home5-icons {
    font-size: 25px;
    color: rgb(178, 247, 100);
}
.home5-h {
    margin-bottom:20px;
    text-transform: uppercase;
}
.home5 hr {
    margin-left: 5px;
}
.home5-p {
    margin-bottom:20px;
}
.home5-link {
    color: rgb(97, 92, 92);
    margin: 0px 10px;
}
.home5-link:hover {
    color: rgb(187, 197, 199);
}
.home5-circle1 {
    color: rgb(187, 197, 199); 
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home6 {
    margin-top: 80px;
    width: 100%;
    height: 350px;
    background: url(../images/img4444.jpeg) no-repeat fixed;
    background-size:cover;
    position: relative;
}
.home6-overley {
    position:absolute ;
    background-color: rgba(245, 244, 242, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home6-content {
    overflow: auto;
    width: 90%;
    margin: auto;
    color: rgb(17, 3, 80);
}
.home6-div {
    float: left;
    width: 20%;
    margin-top: 100px ;
    text-align: center;
    line-height: 30px;
}
.home6-div2 {
margin: 100px 5% 0px;
}
.home6-div3 {
    margin-right: 5%;
}
.home6-p {
    font-size: 20px;
    color: #042b4b;
}
.home6-icons {
    color: rgb(7, 128, 226);
    font-size: 40px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.home7 {
   background-color: rgb(239, 242, 248);
   width:100%;
   height: 750px;
}
.home7-header {
    text-align: center;
}
.home7-h {
    margin-bottom: 20px;
    padding-top: 100px;
}
.home7-content {
    width: 80%;
    margin: auto;
}
.home7-overley {
    overflow: auto;
}
.home7-items {
    border: 2px solid rgb(43, 41, 41);
    width: 30%;
    margin-top: 50px ;
    float: left;
    text-align: center;
    position: relative;
    z-index: 0;
}
.home7-items2 {
margin:50px 5% 0px;
}
.home7-content-div {
    width: 120px;
    height: 120px;
    border: 3px solid rgb(109, 106, 106);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 35px;
}
.home7-title {
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 25px;
}
.home7-content-p1 {
    font-size: 50px;
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 0;
}
.home7-content-p2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
}
.home7-p {
    font-size:20px ;
    line-height: 25px;
}
.home7-btn {
    border: 3px solid gray;
    padding: 10px 15px;
    margin: 30px 0px;
    font-weight: bold;
}
.home7-items::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:  rgb(207, 221, 248);
    visibility: hidden;
    transition: 0.7s;
}
.home7-items:hover::after {
    width:100%;
    height:100%;
    visibility: visible;
    z-index: -1;
}
.home7-items:hover .home7-p {
    color: gray;
}
.home7-items:hover .home7-title , .home7-items:hover .home7-content-div {
    color: #074475;
}
/* /////////////////////////////////////////////////////////section8/////////////////////////////////////////////////////// */
.home8 {
    width: 100%;
    height: 350px;
    background-image: url(../images/emg37.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.home8-overley {
    position:absolute ;
    background-color: rgba(124, 124, 126, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home8-content {
    width: 80%;
    margin: auto;
    overflow: auto;
    color:rgb(5, 4, 66);
    letter-spacing: 2px;
    font-weight: 700;
}
.home8-items {
    margin: 80px 5%;
    width: 40%;
    float: left;
}
.home8-items1 {
    margin-right: 5%;
}
.home8-title {
    margin: 7px;
    font-size: 20px;
}
.home8-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
}
.home8-div {
    float: left;
    margin: 25px ;
    font-size: 18px;
}
.home8-p {
    float: right;
    margin: 5px;
    font-size: 18px;
}
.home8-div-p {
    color: #3754f7;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home9 {
    width: 80%;
    margin: auto;
}
.home9-header {
    margin: 80px 0px;
    text-align: center;
}
.home9-h {
    text-transform:uppercase;
    margin-bottom: 20px;
}
.home9-overley {
    overflow: auto;
}
.home9-content {
    float: left;
    width: 30%;
    text-align: center;
    padding: 14px 18px;
    position: relative;
    background-color: rgba(190, 187, 187, 0.5);
}
.home9-img {
    width: 100%;
    margin: auto;
    position: relative;
}
.home9-img img {
    width:100%;
}
.home9-icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}
.home9-content2 {
    margin: 0px 5%;
}
.home9-icons a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(44, 143, 182);
    color: white;
    margin-left: auto;
}
.home9-icons a i {
    font-size: 25px;
    line-height: 40px;
}
.home9-content:hover  .home9-icons {
    opacity: 1;
    visibility: visible;
}
.home9-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(122, 117, 117, 0.5);
    opacity: 0;
    visibility: hidden;
}
.home9-content:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition:1s;
}
.home9-content:hover  .home9-txt {
color: white;
}
.home9-p {
    color: gray;
}
.home9-content:hover .home9-p {
    color: #2672f5;
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */
.home10 {
    width: 90%;
    margin: auto;
}
.home10-header {
    text-align: center;
    margin: 80px;
}
.home10-h {
    margin-bottom: 20px;
}
.home10-overley {
overflow: auto;
}
.home10-content {
    float: left;
    width: 30%;
    padding: 14px 18px;
    position: relative;
    border: 1px solid black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}
.home10-content2 {
    margin: 0px 5%;
}
.home10-icons {
    margin:10px 0px;
}
.home10-txt {
    line-height: 25px;
}
.home10-link {
    text-decoration: none;
}
.home10-a {
    text-decoration: none;
    color: black;
}
.home10-i {
    color: rgb(135, 135, 226);
}
.home10-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(134, 160, 245, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.home10-content:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.add3-home {
    width: 70%;
    margin: auto;
}
.add3-h {
    margin-top: 80px;
    font-family: "Charmonman", cursive;
    text-align: center;
    color: rgb(167, 195, 236);
    font-size: 60px;
}
.add3-content {
text-align: center;
font-size: 25px;
}
.add3-p {
    text-align: center;
    color: #2a3e53;
    text-transform:uppercase;
    margin: 30px 0px 80px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */   
.home11 {
    height: 300px;
    margin-top: 10px;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 30px;
    line-height: 25px;
}
.home11-content {
    overflow: auto;
    width: 80%;
    margin: auto;
}
.home11-txt1 {
    float: left;
    width: 30%;
}
.home11-img {
    float:left;
    width: 30%;
    margin: 0px 5%;
}
.home11-txt2 {
    float: left;
    width: 30%;
}
.home11 ul {
    list-style: none;
}
.home11 a {
    color: black;
    text-decoration: none;
}
.home11-icons {
    width: 40px;
    height:40px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(207, 221, 248);
    color: gray;
    text-align: center;
    padding-top: 12px;
    margin: 5px;
    cursor: pointer;
}
.home11-icons:hover {
 opacity: 0.5;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

